@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Bienvenido al Sistema de gestión de Candidatos <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </h2>
 
    <p class="lead">En este sistema podrá encontrar los candidatos dependiendo de su criterio de busqueda.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg"> Manual &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Sistema elaborado por el área de sistemas de Agentia.</h3>
    </div>
</div>