
@model CandidatosSistema.Models.Candidato

@*@model IEnumerable<CandidatosSistema.Models.Candidato>*@


@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    header {
        background-image: url("../img/LogoInicio.jpg");
        background-repeat: no-repeat;
        /*background-position:  10% 60% ;*/
        background-size:cover;
    }
    #red
    {
     padding-left:35%;
    
    }

</style>
@*<img src="~/img/LogoInicio.jpg" style="max-width: 100%;" />*@
<header style="max-width: 100%;">
  
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />  
    <br />
    <br />
    <br />
    <div id="red">
             <p><a href="~/Documents/manualBolsaTrabajo.docx" class="btn btn-warning btn-lg"> Descargar Manual &raquo;</a></p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
     <div style="color:orange; font-size:medium;  " >

         <h4>Numero de Candidatos Activos:   @ViewBag.Message</h4>
         
         <h4>Numero de Candidatos Contratados:  @ViewBag.Saludo</h4>

         <h4>Numero de Vacantes Activas:  0</h4>
    
     </div>

    <br />
    <br />
    <img style="height: 70px; padding-left: 5%;" src="/img/image002.png"> 
    <br />
    <br />
    <br />,
    <br />
</header>


@*<div class="jumbotron">
    <h2>Bienvenido al Sistema de gestión de Candidatos <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </h2>
 
    <p class="lead">En este sistema podrá encontrar los candidatos dependiendo de su criterio de busqueda.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg"> Manualx &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-12">
        <h3>Sistema elaborado por el área de sistemas de Agentia.</h3>
    </div>
</div>*@




