
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-3d.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-3d.src.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-all.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-more.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-more.src.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.src.js"></script>


@model DotNet.Highcharts.Highcharts

<p>grafica estatus</p>



@(Model)




