
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width">
    <title>Reporte red</title>
    @Html.Partial("ReporteCandidatos");
</head>

<body>
    <div>

    </div>

</body>

</html>



@*@{
    ViewBag.Title = "Reportear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reportear</h2>

@Html.Partial("ReporteCandidatos");*@

