
@{
    ViewBag.Title = "ReporteRender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">



 <canter><h2 style="font-family: 'Fredoka One', cursive; color:#0c6b37;">Reporte de Candidatos &nbsp;<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </h2></canter> 

<iframe id="ifrmReportViewer" style="height:3500px; width:99%;"  frameborder="0" scrolling="no"></iframe>

@section scripts
{

    <script>
        $(document).ready(function () {
            ReportValidacionCheck();
        }
        );
    </script>

    @*en esta parte se tendra que poner la direccion  donde esyta el aspx*@ 


    <script>
        function ReportValidacionCheck()
        {
            url = "http://localhost:56973/Reportes/ReporteCadidatos.aspx";
            var myframe = document.getElementById("ifrmReportViewer");
            if (myframe != null)
            {
                if (myframe.src) {
                    myframe.src = url;
                }
                else if (myframe.contentWindow !== null && myframe.contentWindow.Location !== null) {
                    myframe.contentWindow.location = url;
                }
                else {myframe.setAttribute('src',url) }
            }
            return false;
        }
    </script>
}



