
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estas fuera del sistema</h2>

<p>estas afuera</p>


<p>gacias por utilizar el sistema de control de candidatos</p>


